@model StarWarsTravelBlog.Models.Location

<html>
<head>
    <title>Star Wars Travel Blog - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this task: @Html.DisplayFor(model => model.planet)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.id)

        <h3>Planet</h3>
        @Html.EditorFor(model => model.planet)

        <h3>Biome</h3>
        @Html.EditorFor(model => model.biome)

        <h3>Region</h3>
        @Html.EditorFor(model => model.region)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>