@model StarWarsTravelBlog.Models.Experience

<html>
<head>
    <title>Star Wars Travel Blog Experience - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new Experience</h4>
    @using (Html.BeginForm())
    {
        <h3>Description</h3>
        @Html.TextBoxFor(model => model.description)

        <h3>Date</h3>
        @Html.EditorFor(model => model.date)

        <h3>Person</h3>
        @Html.TextBoxFor(model => model.personId)
        
        <h3>Location</h3>
        @Html.TextBoxFor(model => model.locationId)

        <input type="submit" value="Add new Experience" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>